body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
}

#colors-list {
  display: flex;
  justify-content: space-evenly;
}

#colors-list div {
  height: 150px;
  width: 550px;
  margin: 1em;
  border-radius: 50%;
  margin-top: 40px;
  transition: all 1s ease;
}

.selected {
  border: 2px solid black;
}

/* colors */
.red {
  background-color: #cf000f;
}
.orange {
  background-color: #eb6b56;
}
.yellow {
  background-color: #ffc153;
}
.green {
  background-color: #006442;
}
.blue {
  background-color: #4C9BB0;
}
.coral {
  background-color: #f88379;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}
